 .marca {
     display: flex;
     justify-content: flex-end;
 }
 
 .produtos {
     display: flex;
     align-items: flex-start;
 }
 
 main {
     margin-top: 0%;
     margin-left: 15%;
     margin-right: 15%;
 }
 
 button {
     border: none;
     background-color: #980000;
     color: whitesmoke;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     margin: 4px 2px;
     cursor: pointer;
     display: flex;
     align-items: center;
 }

 .texto{
     margin-left: 30%;
     margin-right: 10%;
 }

 .imagen{
    margin-right: 40px;
    margin-bottom: 10px;
 }

 .info{
     text-align: left;
     margin-top: 7%;
 }