 /* Codigo top navbar */
 /* Codigo da barra de pesquisa */
 
 .topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 25px;
    margin-left: 200px;
    font-size: 17px;
}
/* Butão da top nav */

.topnav button {
    border: none;
    background-color: #980000;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}
/* Corpo */

body {
    background-color: whitesmoke;
    font-family: "Arial";
}

{
    box-sizing: border-box;
}
/* NAV BAR*/

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.dropdown {
    float: left;
    overflow: hidden;
    border-right: 1px solid #bbb;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #980000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: #980000;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.marca{
    display: flex;
    justify-content: flex-end;
}

.produtos{
    display:flex;
    justify-content: flex-start;
}

main{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
}